@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;500&display=swap');
* {
    /* border: 1px solid #222; */
}
body {
    background-color: #9EE667;
}

.title-content {
    display: flexbox;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title-content h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
    color: #222;
    margin: 2rem auto 0;
}

.title-content .paragraph {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    color: #222;
    padding: 1rem 2rem;
    line-height: 2rem;
    font-weight: 500;
}

.messages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 5rem;
    font-family: 'Roboto', sans-serif;
    padding: 0;
}

.messages .message-text {
    background-color: #dcf8c6;
    width: 16rem;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.messages .message-text:hover {
    box-shadow: 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.messages .img-text {
    width: 2.5rem;
}

